* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #777;
}
.text-primary {
    color: #3e64ff!important;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}
.header-scrolled {
  transition: all 0.5s;
  box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}
.main-menu {
  padding-bottom: 20px;
  padding-top: 20px;
}
a,
a:focus,
a:hover {
  text-decoration: none !important;
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > li {
  margin-left: 10px;
  float: left;
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  padding: 0 8px 0px 8px;
  display: inline-block;
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}
.top-banner {
  background: #f9f9ff;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.about-me{
    padding-top: 80px;
}
.about-right p {
    margin-bottom: 30px;
}
.about-right h6 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.about-right h1 {
    font-size: 40px;
}
